<app-nav></app-nav>
<div>
  <div class="info">
    <h1 style="text-align: center">About Us</h1>
    <p>
      Welcome to KharidLo, where we believe that shopping online should be an
      easy, hassle-free experience. Our team is dedicated to providing
      high-quality products, excellent customer service, and a seamless shopping
      experience from start to finish. We started KharidLo with the goal of
      making online shopping more accessible and convenient for everyone. Our
      founder abduls, recognized the need for an eCommerce platform that offered
      a wide variety of products at affordable prices, with a focus on customer
      satisfaction.
    </p>
    <p>
      Since our launch, we've grown rapidly, expanding our product offerings and
      serving customers all over the world. We're proud to offer a wide range of
      products, from the latest tech gadgets to stylish home decor, all at
      competitive prices. At KharidLo, we're committed to providing excellent
      customer service. Our team is available to answer any questions or
      concerns you may have, and we work hard to ensure that every order is
      shipped quickly and accurately. We also offer hassle-free returns, so you
      can shop with confidence.
    </p>
    <p>
      Thank you for choosing KharidLo for your online shopping needs. We're
      excited to continue growing and serving our valued customers for years to
      come.
    </p>
  </div>
</div>

<h2 style="text-align: center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Abdul Hai</h2>
        <p class="title">CEO & Founder</p>
        <p>Ceo at KharidLo<p>
        <p>abdul@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Rizwan</h2>
        <p class="title">Manager</p>
        <p>Company Manager</p>
        <p>rizwan@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Muhammad Ali</h2>
        <p class="title">Sale Manager</p>
        <p>Company Sale Manager</p>
        <p>muhammad@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
