<div class="form" *ngIf="!resetPage">
  <h2>Verifying Token</h2>
</div>


<div class="form" *ngIf="resetPage" >
  <h2>Reset Password</h2>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <input type="password" formControlName="password" placeholder="Password" [class.error]="resetPasswordForm.get('password')?.touched && resetPasswordForm.get('password')?.errors?.['required'] " />
    <p *ngIf="resetPasswordForm.get('password')?.touched && resetPasswordForm.get('password')?.errors?.['required'] ">Password Required</p>
    <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" [class.error]="resetPasswordForm.get('confirmPassword')?.touched && resetPasswordForm.get('confirmPassword')?.errors?.['required'] "  />
    <p *ngIf="resetPasswordForm.get('confirmPassword')?.touched && resetPasswordForm.get('confirmPassword')?.errors?.['required'] ">Confirm Password Required</p>
    <p class="colorChnge" *ngIf="resetPasswordForm.hasError('passwordMismatch') && (resetPasswordForm.get('password')?.dirty || resetPasswordForm.get('confirmPassword')?.dirty)">
      Passwords do not match
    </p>
    <div class="divv">
      <button [disabled]="resetPasswordForm.invalid" type="submit">Next</button>
    </div>
  </form>
</div>
